@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.card-name {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
}

.card-description {
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    font-size: smaller;
}

.servicesCards {
    margin: 3rem;
    padding-top: 1rem;
    height: 450px;
    width: 340px;
    border: 1px solid rgb(224, 214, 214);
    border-radius: 10px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);   
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicesCards img {
    width: 100%;
}

/* .image {
    width: 100%;
} */

.card-button {
    border-radius: 10px;
    margin-left: 27%;
}

/* .card-button {
    padding: 0.3rem;
    margin-top: 2rem;
    width: 9rem;
    text-align: center;
    border: 0.5px rgb(196, 187, 187) solid;
    border-radius: 10px;
    color: rgb(32, 32, 121);
    background-color: white;
    justify-content: center;
} */



/* END OF SERVICES CARDS */