
.services .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.serviceCards {
    margin: auto;
}

.service-cards-btn button {
    margin: auto;
    margin-bottom: 4rem;
}


.services h1 {
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}


/* WHAT WE DO */

.what-we-do {
    width: 100%;
    height: 50vh;
    position: relative;
    top: 0;
    object-fit: cover;
    z-index: -2;
}

.what-we-do-video-bg {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    object-fit: cover;
}


.what-we-do .container {
    top: 10%;
    padding: 2rem;
    width: auto;
}

.what-we-do p {
    color: #fff;
    text-align: justify;
}

.what-we-do h1 {
    color: var(--primary-color);
}


/* End of Third Section */


/* MEDIA QUERIES */

@media screen and (max-width:940px) {
    .services h2 {
        font-size: 1.5rem;
    }

    .services p {
        font-size: 14px;
        text-align: justify;
        padding: 25px;
    }
}




