@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card-name {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
}


.serviceCards-logo {
    width: 50%;
    margin: auto;
}

.servicesCards {
    margin: 2rem;
    padding: 1rem 0;
    height: 300px;
    width: 250px;
    border: 1px solid rgb(224, 214, 214);
    border-radius: 10px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);   
}

.serviceCards-description p {
    color: var(--primary-color);
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicesCards img {
    width: 100%;
}


/* END OF SERVICES CARDS */


@media screen and (max-width:940px) {



}