@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');



.TherapySA .sa-content {
    padding: 3rem 1rem;
    text-align: center;
}


.sa-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


.sa-card {
    width: 280px;
    height: auto;
    border: none;
    background-color: #759eb8;
    color: rgb(243, 235, 235) ;
    -webkit-box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.75);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.sa-card img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.TherapySA-btn {
    padding: 3rem 0;
    text-align: center;
}

@media screen and (max-width:700px) {


    .sa-card {
        width: 90%;
    }

    
}

