.section1-bg {
    width: 100%;
    height: auto;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section1-bg:before {
    content: '';
    position: absolute;
    background: url('../../assets/hero-bg-2.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
  }


.section1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.card {
    width: 380px;
    height: auto;
    border: none;
    background-color: #759eb8;
    color: rgb(243, 235, 235) ;
    -webkit-box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -10px rgba(0,0,0,0.75);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-btn button {
    background-color: #5b7c99;
    border: none;
    border-radius: 5px;
}

.section1-content {
    text-align: center;
    padding: 0 0 10rem 0;
}

.section1-header {
    padding: 5rem 0 3rem 0;
    text-align: center;
}

.section1-header h1 {
    color: var(--primary-text);
    font-size: 1.5rem;
}

.section1-box {
    width: auto;
    height: auto;
    padding-top: 2rem;

}

.section1-box1 {
    background-color: #6D4321;
}

.section1-box2 {
    background-color: #E2AB7F;
}

.section1-box3 {
    background-color: #dfdad6;
}


.section1-flexBox {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    gap: 1rem;
    text-align: center;
    width: 350px;
}


.section1-flexBox .title {
    width:max-content;
    text-align: center;
}

.section1-icon {
    color: white; 
    font-size: 2.2rem;
    margin: auto;
}

.section1-box h1 {
    font-size: 2rem;
    color: white;
}

.section1-box p {
    line-height: 25px;
    font-size: 16px;
    text-align: center;
}

.section1-caption {
    padding: 2rem;
    text-align: center;
    color: white;
}

.section1-box button {
    color: white;
    padding: 1rem 2rem;
    background-color: #E2AB7F;
    border-radius: 5px;
    border: none;
    font-size: .8rem;
    letter-spacing: 3px;
    margin: 2rem 0;
}

.section1-caption2 button{
    background-color: #aa764c;
}

.section1-caption1 button:hover{
    background-color: #41220a;
}

.section1-caption2 button:hover{
    background-color: #41220a;
}

.section1-caption3 button:hover{
    background-color: #41220a;
}

.section1-flexItem3 h1 {
    color: black;
}

.section1-flexItem3 h3 {
    color: #6D4321;
}

.section1-caption3 p {
    color: #6D4321;
}

@media screen and (max-width:1140px)  {

    .section1-content {
        flex-wrap: wrap;
    }

    .section1-icon {
        width: 100%;
    }

    .section1-flexBox {
        flex-wrap: wrap;
    }

    .section1-flexItem1 {
        width: 100%;
    }

    .section1-flexBox {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: .8rem 0;
        margin: auto;
        text-align: center;
    }

    .section1-box button {
        margin: 1rem 0;
    }

}


@media screen and (max-width:700px) {
    .card {
        width: 90%;
}
}
