@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.video-bg {
    width: 100%;
    height: 80vh;
    position: relative;
    top: 0;
    background: rgba(0, 0, 0, .1);
    object-fit: cover;
}


.video-bg::before {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.hero .hero-container {
    top: 25%;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 100%;
}

.hero-logo {
    margin: auto;
}

.subtitle {
    letter-spacing: .5rem;
}

.hero-logo {
    text-align: center;
}

.hero h1 {
    color: #fff;
    font-size: 7rem;
}

.hero h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.hero p {
    font-size: 24px;
    text-align: center;
    color: var(--secondary-color);
    font-style: italic;
}

.hero .hero-btn button {
    margin: auto;
    cursor: pointer;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .hero h1 {
    font-size: 3rem;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 16px;
    }

    .hero-logo img {
        width: 50%;
    }

    .hero .container {
        top: 30%;
    }
    

}
