@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.card-wrap
{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 0;
}

.card-caption {
  padding: 1rem;
  text-align: center;
}


.card-caption p {
  font-size: 16px;
  text-align: center;
}

.card-caption h1 {
  color: white;
}


@media (max-width: 940px) {
  .mh-card-wrap {
    width: 100%;
  }

}
