.insurance {
    width: 100%;
    height: 70vh;
    position: relative;
    background: rgba(0, 0, 0, .3);
}


.insurance:before {
    content: '';
    position: absolute;
    height: 70vh;
    width: 100%;
    z-index: -1;
}

.insurance .content {
    position: absolute;
    left: 0;
    top: 30%;
    width: 50%;
    padding: 1rem;
}

.insurance h1 {
    text-align: left;
}

.insurance p {
    color: #f8f8f8;
    margin: 1rem 0;
}

@media screen and (max-width: 940px) {

    .insurance {
        height: 60vh;
    }

    .insurance:before {
        height: 60vh;
    }

    .insurance .content {
        left: 0;
        width: 100%;
    }

    .insurance h2 {
        font-size: 25px;
    }
}