.InsuranceSection {
    width: 100%;
    height: auto;
    position: relative;
    background: rgba(255, 255, 255, 0);
}

.InsuranceSection .content {
    flex-direction: column;
    justify-content: center;
    left: 0;
    width: 100%;
}

.InsuranceSection .content h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
}

.insurance-thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
}

.InsuranceSection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.InsuranceSection button {
margin: auto;
margin: 1rem auto;
}

@media screen and (max-width: 940px) {

    .InsuranceSection p {
        font-size: 14px;
    }
}










