.InsuranceSection {
    width: 100%;
    height: 55vh;
    position: relative;
    background: rgba(255, 255, 255, 0);
}

.InsuranceSection::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

.InsuranceSection .content {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    /* top: 30%; */
    width: 100%;
}

.InsuranceSection .content p {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}

.InsuranceSection .content h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 0rem;
}

.insurance-thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
}

.InsuranceSection .flex-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.InsuranceSection button {
margin: auto;
margin-top: 1rem;
}

.home-insurance-cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

 .download {
    font-family: 'Roboto', sans-serif;
    padding: .7rem 2rem;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid rgba(0, 0, 0, 0.185);
  }

  .download a {
    color: black;
  }

@media screen and (max-width: 940px) {
    .InsuranceSection .content {
        left: 0;
        width: 100%;
        padding: 1rem;
        /* background: rgba(255, 255, 255, .7); */
        margin-top: -3rem;
    }

    .InsuranceSection {
        height: 50vh;
    }

    .testimInsuranceSectiononials h2 {
        font-size: 25px;
    }

    .InsuranceSection p {
        font-size: 15px;
    }
}










