.insurance {
    width: 100%;
    height: 80vh;
    position: relative;
    background: rgba(0, 0, 0, .3);
}


.insurance:before {
    content: '';
    position: absolute;
    background: url('../../assets/insurance-bg.jpg') no-repeat center center/cover;
    height: 80vh;
    width: 100%;
    z-index: -1;
}

.insurance .content {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    padding: 1rem;
}

.insurance h1 {
    color: var(--primary-color);
}

.insurance p {
    color: #f8f8f8;
    margin: 1rem 0;
    text-align: center;
}

.insurance button {
    margin: auto;
}

@media screen and (max-width: 940px) {


    .insurance .content {
        left: 0;
        width: 100%;
    }

    .insurance h1 {
        font-size: 1.5rem;
    }

    .insurance p {
        font-size: 14px;
    }

}